header {
    /* Chooses a random background image for the header from Unsplash */
    background-image: url("https://source.unsplash.com/collection/93773/1920x800");
}

th {
    background-color: #95cc88;
}

.section-nav ul {
    background-color: #3E8456;
}

.section-nav li a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 4px solid #ffffff;
}

.active {
    background-color: #95cc88;
    font-weight: bold;
}

footer {
    background-color: #3E8456;
    color: #000000
}

/* Sets the size of video and ensures aspect ration is 16:9, code from https://css-tricks.com/fluid-width-video/ */
.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}