header {
    background-image: url("../img/iceland-header-bg.jpg");
    background-color: #143851;
    margin-bottom: 0;
    /* This ensures that the header element will always be at least 600 pixels high. */
    height: 50vh;
    min-height: 400px;
    /* This stops the background from repeating, i.e. displaying the same image multiple times to fill up the available space. */
    background-repeat: no-repeat;
    /* This stretches out the background image so that it fills up the entire space. */
    background-size: cover;
    /* This places the background image in the centre of the header section */
    background-position: center;
}

.header-content {
    padding-top: 50px;
}

.header-content img {
    /* This enables the profile picture to be positioned above the name h1, instead of beside it. */
    display: block;
    /* This makes the image appear circular by setting the radius of each of its corners equal to half of the length of each side. */
    border-radius: 50%;
    /* The below two lines ensure the image always stays in the centre. */
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 20vw;
    max-width: 250px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.4), 0 12px 20px 0 rgba(0, 0, 0, 0.4);
}

header p, h1, h2 {
    text-align: center;
    color: white;
}

.section-nav {
    text-align: center;
    /* The below two lines make the navbar stay at the top of the page when you scroll down so you always have easy access to it without needing to scroll back to the top. */
    /* We used some information from https://www.w3schools.com/css/css_navbar_horizontal.asp to style the navbar */
    position: -webkit-sticky;
    position: sticky;
    /* This ensures there is no space between the navbar and what is above it, eg the header or the top of the browser window */
    top: 0;
    /* This creates two  drop shadow effects at the bottom of the navbar. They are black with 20% opacity. In this case, I have chosen a shadow that extends down 4px and has a blur effect, and another than extends down 6px with a stronger blur effect. */
    /* We got information on shadows from https://www.w3schools.com/css/css3_shadows_box.asp */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}

.section-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(20,20,20,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
}

.section-nav li {
    /* This makes each of the list elements display on the same line, rather than each being on a separate line. */
    display: inline;
}

.section-nav li a {
    /* This makes the navigation links display on the same line, but also enabled their height to be changed */
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 22px 40px;
    text-decoration: none;
}

.section-nav li a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: rgba(20,20,20,0.7);
    box-shadow: 0 8px 10px 0 rgba(20, 20, 20, 0.5), 0 10px 22px 0 rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;    
}

iframe {
    margin-left: auto;
    margin-right: auto;
    width: 90vw
}
