header {
    background-image: url("https://source.unsplash.com/collection/1149295/1920x800");
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #c2d6d6;
}

.google-map {
    text-align: center;
    margin: 0 auto;
    width: 10%;
}

iframe {
    width: 100%;
}

