header {
    /* Chooses a random background image for the header from Unsplash */
    background-image: url("https://source.unsplash.com/collection/1146811/1920x800");
}

.section-nav ul {
    background-color: #002395;
}

.section-nav li a:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 4px solid #ED2939;
}

.active {
    background-color: #00aeff;
    font-weight: bold;
}

th {
    background-color: #00aeff;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@media screen and (max-width: 450px) {
    article img {
        width: 100%;
    }
}

figcaption {
    color: #808080;
    font-size: 0.8em;
    text-align: center;
    padding-top: 10px;
}

figcaption a {
    color: #808080;
    text-decoration: none;
}

figcaption a:hover {
    text-decoration: underline;
}

ol li {
    font-weight: bold;
    font-size: 1.2em;
}

p.pronounciation {
    font-style: italic;
}

footer {
    background-color: #002395;
    color: #ffffff
}
